@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');


:root {
    --bg-image: url(./assets/bg-desktop.png);
    --bg-image-mobile: url(./assets/bg-mobile.png);
    --text-color: #fff;
    --stroke-color: rgba(255, 255, 255, 0.50);
    --surface-color: gba(255, 255, 255, 0.10);
    --surface-color-hover: rgba(255, 255, 255, 0.05);
    --icons-color: #fff;
    --highlight-color: rgba(255, 255, 255, 0.20);
    --swich--background: url(./assets/moon-stars.svg)
}

* {
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--bg-image) center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 588px;
    gap: 24px;
    padding: 24px;
}

.perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 0 24px;
}

.tag-name {
    font-size: 16px;
    font-weight: 400;
}




.container-links {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 0 24px;

}

.links {
    color: var(--text-color);
    width: 60%;
    padding: 12px 24px;
    background: var(--surface-color);
    border-radius: 8px;
    border: 1px solid var(--stroke-color);
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

.links:hover {
    border: 1.5px solid var(--text-color);
    background: var(--surface-color-hover);
}


.final-message {
    font-size: 14px;
    font-weight: 400;

}

.perfil-image {
    width: 120px;
    width: 120px;
    border: 1px solid;
    border-radius: 100%;
}

@media(max-width:550px) {
    body {
        background: var(--bg-image-mobile) center/cover no-repeat;
    }
}
.footer{
    margin-top: 100%;
}